@import "./color.css";

/* BUTTON STYLE */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--color-blue-500);
  color: white;

  &:hover {
    background-color: var(--color-blue-600);
  }
}

.btn-secondary {
  background-color: #374151;
  color: white;

  &:hover {
    background-color: #1f2937;
  }
}

.btn-outline {
  background: rgba(23, 37, 84, 0.3);
  border: 1px solid var(--color-blue-600);
  color: var(--color-blue-800);

  &:hover {
    background: var(--color-blue-500);
    color: white;
  }
}

.btn-link {
  text-decoration: underline !important;
  color: var(--color-blue-600);

  &:hover {
    color: var(--color-blue-800);
  }
}

.btn-danger {
  background-color: var(--color-red-500);
  color: white;

  &:hover {
    background-color: var(--color-red-600);
  }
}

.btn-github {
  background-color: #1f2937;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;

  &:hover {
    background-color: rgb(12, 17, 23);
  }
}

/* BADGE STYLE */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 2.2rem;
  height: 2.2rem;
  padding: 0 0.75rem;

  white-space: nowrap;
  text-align: center;

  border-radius: 9999px;
  font-size: 1.1rem;
  font-weight: 500;
}

/* DEFAULT BADGE */
.badge-primary {
  background-color: rgba(59, 130, 246, 0.18);
  border: 1.5px solid rgba(59, 130, 246, 0.4);
  color: #3b82f6;
}

.badge-success {
  background-color: rgba(34, 197, 94, 0.18);
  border: 1.5px solid rgba(34, 197, 94, 0.4);
  color: #22c55e;
}

.badge-warning {
  background-color: rgba(234, 179, 8, 0.18);
  border: 1.5px solid rgba(234, 179, 8, 0.4);
  color: #eab308;
}

.badge-danger {
  background-color: rgba(239, 68, 68, 0.18);
  border: 1.5px solid rgba(239, 68, 68, 0.4);
  color: #ef4444;
}

.badge-info {
  background-color: rgba(14, 165, 233, 0.18);
  border: 1.5px solid rgba(14, 165, 233, 0.4);
  color: #0ea5e9;
}