@import "./color.css";
@import "./var.css";

/* CARD STYLE */
.card {
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-gray-700);
  background-color: var(--color-gray-900);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
  max-width: 24rem;

  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.card-img {
  width: 100%;
  max-height: 12rem;
  object-fit: contain !important;
  display: block;

  border-radius: 0.5rem;
  margin-bottom: 1rem;

  background-color: #0b0f1a;
}

.card-interaction:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:active {
    transform: rotate(5deg) scale(0.97);
  }
}

@keyframes card-bounce {
  0% {
    transform: translateY(0) scale(0.96);
  }
  60% {
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
